<h1>ゲームタイトル一覧</h1>


<% @games.each do |game| %>

タイトル
<%= link_to game_path(game.id) do %>
<%= game.title %>
<% end %>
<!--タイトルにlink_toで詳細画面に-->

<!--星レビュー-->
会員名
<%= game.user.name %>
<!--link_toで会員詳細へ-->

<!--いいねの数-->


<% end %>