@import '~bootstrap/scss/bootstrap';
@import '~@fortawesome/fontawesome-free/scss/fontawesome';

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}


body
{
  display: flex;
  flex-flow: column;
  min-height: 100vh;
}

main
{
  background-color: black;
  padding-top: 30px;
  flex: 1;
}

.row{
    margin-right: initial;
    margin-left: initial;
}

// top画面のデザイン
.top
{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height:  70vh;
    font-family: 'Source Sans Pro', sans-serif;
}
.text
{
    position: relative;
    width: 100%;
    text-align: center;
}
.home-top-title
{
    position: relative;
    color: #3BB0FF;
    font-weight: 600;
    font-size: 16em;
    -webkit-box-reflect: below -70px linear-gradient(transparent, #0008);
    text-shadow: 0 0 10px #3B4EFF,
                0 0 40px #3B4EFF,
                0 0 80px #3B4EFF,
                0 0 160px #3B4EFF,
                0 0 240px #3B4EFF;

}


// 色んな画面の見出しのデザイン
.h1-tagu
{
  margin: 0px 30px 30px;
  width: 30%;
  position: relative;
  padding: 1rem 2rem calc(1rem + 10px);
  background-image: linear-gradient(-225deg, #5D9FFF 0%, #B8DCFF 48%, #6BBBFF 100%);
}

.h1-tagu:before
{
  position: absolute;
  top: -7px;
  left: -7px;
  width: 100%;
  height: 100%;
  content: '';
  border: 4px solid #fff;
}


// ヘッダーのリンク
ul li a
{
  margin: 10px;
  padding: 0;
  font-family: 'Poppins', sans-serif;
  position: relative;
  font-size: 30px;
  text-decoration: none;
  line-height: 1em;
  text-transform: uppercase;
  color: transparent;
  -webkit-text-stroke: 1px rgba(255,255,255,0.5);
}

ul li a::before
{
  content: attr(data-text);
  position: absolute;
  color: var(--clr);
  width: 0;
  overflow: hidden;
  transition: 0.5s;
  -webkit-text-stroke: 1px var(--clr);
  text-decoration: none;
}
ul li a:hover::before
{
  text-decoration: none;
  width: 100%;
  filter: drop-shadow(0 0 25px var(--clr));
}
// hoverのみにも付けてあげると下線が消える
ul li a:hover
{
  color: #343434;
  text-decoration: none;
}


// games/index.htmlゲーム一覧の表示方法
.game-card
{
  background-color: white;
  margin: 0 auto 60px;
  max-width: 376px;
  height: 115px;
  text-align: left;
}


// ゲーム詳細画面のgametitleのアンダーライン
.game-title
{
  background:linear-gradient(transparent 70%, #9eff9e 0%);
}


// コメントを無限スクロールにするcss
.gm-comment
{
  padding: 5px;
  width: 800px;
  height: 150px;
  overflow: scroll;
  background: white;
  white-space: nowrap;
}
/* スクロールバーの幅と高さを設定する */
// .gm-comment::-webkit-scrollbar
// {
//   width: 10px;
//   height: 5px;
// }
/* スクロールバーの形を設定する */
// .gm-comment::-webkit-scrollbar-thumb
// {
//   border-radius: 0.25rem;
// }
/* スクロールバーの色を設定する */
// .gm-comment::-webkit-scrollbar-thumb
// {
//   background-color: #a9a9a9;
// }

footer
{
  background-color: #212121;
}

.footer-text
{
  width: 100%;
  height: 50px;
  text-align: center;
  line-height: 50px;
  color: #808080;
  background-color: #212121;
}

.page-color
{
  color: #fff;
}

.errors-text
{
  text-align: center;
  color: #ff7f7f;
}