@import '~bootstrap/scss/bootstrap';
@import '~@fortawesome/fontawesome-free/scss/fontawesome';

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

main {
  background-color: black;
  padding-top: 30px;
}

.top {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height:  100vh;
    font-family: 'Source Sans Pro', sans-serif;
}

.text
{
    position: relative;
    width: 100%;
    text-align: center;
}

.home-top-title
{
    position: relative;
    color: #3BB0FF;
    font-weight: 600;
    font-size: 16em;
    -webkit-box-reflect: below -70px linear-gradient(transparent, #0008);
    text-shadow: 0 0 10px #3B4EFF,
                0 0 40px #3B4EFF,
                0 0 80px #3B4EFF,
                0 0 160px #3B4EFF,
                0 0 240px #3B4EFF;

}


.h1-tagu {
  margin: 0px 30px 30px;
  width: 30%;
  position: relative;
  padding: 1rem 2rem calc(1rem + 10px);
  background-image: linear-gradient(-225deg, #5D9FFF 0%, #B8DCFF 48%, #6BBBFF 100%);
}

.h1-tagu:before {
  position: absolute;
  top: -7px;
  left: -7px;
  width: 100%;
  height: 100%;
  content: '';
  border: 4px solid #fff;
}
